tomcat-sms:
  tty: true
  image: 192.168.1.15:5000/tomcat-sms:v1.0.1
  ports:
    - "8081:8080"
  links:
    - smsdbhost
  stdin_open: true
smsdbhost:
  image: 192.168.1.15:5000/smsdb:v5
  ports:
    - "3306:3306"
  tty: true
  stdin_open: true